<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Starbucks Coffee Website Landing Page</title>
</head>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arial">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <div class="container">
    <header>
      <div class="logo">
        <img src="/assets/Images/logo.png" alt="Cafe Management Logo">
      </div>
      <div class="search-bar">
        <div class="search-container">
          <input type="text" placeholder="Search..." class="search-input">
          <button type="submit" class="search-button"><i class="fa fa-search"></i></button>
        </div>
        <button class="cart-icon" (click)="navigateToHome()" ><i class="fa fa-home"></i><b>Home</b></button>
        <button class="help" (click)="navigateToHelp()"><i class="fas fa-headset"></i><b>Help</b></button>
        <button class="Book" (click)="navigateToBookaTable()"><i class="fas fa-chair"></i><b>Book a Table</b></button>
        <button class="login-button" (click)="navigateToLogin()"><i class="	fa fa-user-circle-o"></i><b>Sign In</b></button>
      </div>
    </header>
  </div>

  <section>
    <div class="legal">
      <div class="Terms">
        <h2><b>Terms & Conditions :</b></h2>
        
       <!-- <p>These terms of use (the "Terms of Use") govern your use of our website and our handheld. The Website and the App are jointly referred to as the "Services". Please read these Terms of Use carefully before you download, install or use the Services. If you do not agree to these Terms of Use, you may not install, download or use the Services. By installing, downloading or using the Services, you signify your acceptance to the Terms of Use and Privacy Policy (being hereby incorporated by reference herein) which takes effect on the date on which you download, install or use the Services, and create a legally binding arrangement to abide by the same.
        </p>
      </div>
      <div class="Privacy">
        <h4><b>2. Privacy Policy</b></h4>
        <p>We are fully committed to respecting your privacy and shall ensure that your personal information is safe with us. This privacy policy sets out the information practices of Website
            including the type of information is collected, how the information is collected, how the information is used and with whom it is shared. Reference to "you" in this Privacy Policy refers to the users of this Website whether or not you access the services available on the Website or consummate a transaction on the Website. By using or accessing this Website, you agree to the terms and conditions of this Privacy Policy. You also expressly consent to our use and disclosure of your Personal Information (as defined below) in any manner as described in this Privacy Policy and further signify your agreement to this Privacy Policy and the Terms of Use (being incorporated by reference herein). If you do not agree with the terms and conditions of this Privacy Policy, please do not proceed further or use or access this Website. </p>
      </div>
      <div class="Cancelation">
        <h4><b>3. Cancelation & Refunds</b></h4>
        <p>a) As a general rule you shall not be entitled to cancel your order once placed. You may choose to cancel your order only within one-minute of the order being placed by you. However, subject to your previous cancellation history, It reserves the right to deny any refund to you pursuant to a cancellation initiated by you even if the same is within one-minute.</p>
        <p>b) If you cancel your order after one minute of placing it, we shall have a right to charge you 100% of the order amount as the cancellation fee , with a right to either not to refund the order value in case your order is prepaid or recover from your subsequent order in case your order is postpaid, to compensate our  delivery partners. </p>
        <p>c) Cafe reserves the right to charge you cancellation fee for the orders constrained to be cancelled by us for reasons not attributable, including but not limited to: </p>
        <h6>i)In the event if the address provided by you is either wrong or falls outside the delivery zone;</h6>
        <h6>ii) failure to contact you by phone or email at the time of delivering the order booking; </h6>
        <h6>iii) failure to deliver your order due to lack of information, direction or authorization from you at the time of delivery; or</h6>
        <h6>iv) unavailability of all the items ordered by you at the time of booking the order. However, in the unlikely event of an item on your order being unavailable, It will contact you on the phone number provided to us at the time of placing the order and inform you of such unavailability. In such an event you will be entitled to cancel the entire order and shall be entitled to a refund to an amount upto 100% of the order value.</h6>
            <p> d) In case of cancellations for the reasons attributable to  the delivery partners, We shall not charge you any cancellation fee.</p>
      </div> -->
      <div *ngFor="let item of faq; let i = index" class="faq-item">
        <div class="question" (click)="toggleAnswer(i)">
          <span>{{ item.question }}</span>
          <i class="fa" [ngClass]="{'fa-chevron-down': item.showAnswer, 'fa-chevron-right': !item.showAnswer}"></i>
        </div>
        <div class="answer" *ngIf="item.showAnswer">
          <p>{{ item.answer }}</p>
        </div>
      </div>
      </div>
    </div>
  </section>
<section>
    <footer class="footer">
        <div class="container">
            <div class="footer-row">
                <div class="footer-col">
                    <h4><b>Company</b></h4>
                    <ul>
                        <li><a (click)="navigateToAbout()">About</a></li>
                        <li><a (click)="navigateToAbout()">Team</a></li>
                       
                    </ul>
                </div>
                <div class="footer-col">
                    <h4><b>GetHelp</b></h4>
                    <ul>
                        <li><a (click)="navigateToHelp()">FAQ</a></li>
                        <li><a (click)="navigateToHelp()">Help & Support</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4><b>Legal</b></h4>
                    <ul>
                        <li><a (click)="navigateToTerms()">Terms & Conditions</a></li>
                        <li><a (click)="navigateToFranchise()">Franchise</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4><b>Follow Us</b></h4>
                    <div class="social-links">
                       
                        <a href="https://twitter.com/Yogananda222" class="fa fa-twitter"></a>
                        <a href="https://www.instagram.com/mr.nanda_01" class="fa fa-instagram"></a>
                        <a href="https://www.linkedin.com/in/puchakayala-yogananda-naidu-8a8991216" class="fa fa-linkedin"></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
  </section>
  </body>
  </html>
