<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arial">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>NANDAS CAFE</title>
</head>
<body>
  <div class="container">
    <header>
      <div class="logo">
        <img src="/assets/Images/logo.png" alt="Cafe Management Logo">
      </div>
      <div class="search-bar">
        <div class="search-container">
          <input type="text" placeholder="Looking for something specific..?" class="search-input">
          <button type="submit" class="search-button"><i class="fa fa-search"></i></button>
        </div>
        <button class="help" (click)="navigateToHelp()"><i class="fas fa-headset"></i> Help</button>
        <button class="Book" (click)="navigateToBookaTable()"><i class="fas fa-chair" ></i> Book a Table</button>
        <button class="cart-icon"  (click)="navigateToCart()"><i class="fas fa-cart-plus"></i>Cart</button>
      </div>
      <div class="profile-dropdown">
        <button class="profile-button">
          <i class="fas fa-user-circle"></i>
          {{ user ? user.username : 'Sign In' }}
        </button>
        <div class="dropdown-content">
          <p (click)="navigateToUserDetails()"><i class="fa fa-user"></i> User Details</p>
          <button (click)="logout()"><i class="fa fa-sign-out"></i> LOGOUT</button>
        </div>
      </div>
    </header>
  </div>
  <div class="Username">
    <button class="username-button">
      <i class=""></i>
      {{ user ? user.username : '' }}, what's on your mind?
    </button>
    <span class="arrowleft"></span>
    <span class="arrow right"></span>
  </div>
  <div class="image-container" (mousemove)="onMouseMove($event)">
    <div class="image-slider">
      <img *ngFor="let image of images" [src]="image" alt="Slide Image" (click)="navigateToMenu()">
    </div>
  </div>
  <div class="container-offers">
    <h2>Latest Offers</h2>
  </div>
  <div class="card">
    <span class="offer">FirstOrder15</span>
    <div class="item-image">
      <img src="https://i.imgur.com/gzandIc.png">
    </div>
    <div class="item-content">
      <h3> Get Flat 15% Off on First Order</h3>
        <span>Coupon Code: NANDA25</span>
    </div>
</div>
<div class="card">
  <span class="offer">&#8377;50 Off</span>
  <div class="item-image">
    <img src="/assets/Images/Latest Offer 1.jpg">
  </div>
  <div class="item-content">
    <h3>   Above &#8377;120</h3>
      <span>Coupon Code: NANDA120</span>
  </div>
</div>
<div class="card">
  <span class="offer">Get 25% Off</span>
  <div class="item-image">
    <img src="/assets/Images/Latest Offer 2.jpg">
  </div>
  <div class="item-content">
    <h3> Get Flat 25% Off Above &#8377;250</h3>
      <span>Coupon Code: NANDA250</span>
  </div>
</div>
  <footer class="footer">
    <div class="container">
        <div class="footer-row">
            <div class="footer-col">
                <h4><b>Company</b></h4>
                <ul>
                    <li><a (click)="navigateToAbout()">About</a></li>
                    <li><a (click)="navigateToAbout()">Team</a></li>
                   
                </ul>
            </div>
            <div class="footer-col">
                <h4><b>GetHelp</b></h4>
                <ul>
                    <li><a (click)="navigateToHelp()">FAQ</a></li>
                    <li><a (click)="navigateToHelp()">Help & Support</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4><b>Legal</b></h4>
                <ul>
                    <li><a (click)="navigateToTerms()">Terms & Conditions</a></li>
                    <li><a (click)="navigateToFranchise()">Franchise</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4><b>Follow Us</b></h4>
                <div class="social-links">
                   
                    <a href="https://twitter.com/Yogananda222" class="fa fa-twitter"></a>
                    <a href="https://www.instagram.com/mr.nanda_01" class="fa fa-instagram"></a>
                    <a href="https://www.linkedin.com/in/puchakayala-yogananda-naidu-8a8991216" class="fa fa-linkedin"></a>
                </div>
            </div>
        </div>
    </div>
  </footer>
</body>
</html>