<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arial">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>NANDAS CAFE</title>

</head>
<body>
    <div class="container">
        <section class="container1">
            <div class="logo">
                <img src="/assets/Images/logo.png" alt="">
            </div>
            <div class="caption">
                <h3>Partner with NANDAS CAFE !</h3>
            </div>
        </section>
        <section class="container2">
            <div class="getstarted">
                <h2>Get Started</h2>
                <p>Enter a Mobile number  </p>
                <input type="text" id="phone number" name="phone number" placeholder="Mobile Number " maxlength="10">
                <button  (click)="Submit()" >Continue</button>
                <label >
                    <input class="checkbox" type="checkbox"> I agree to NANDA'S terms & conditions
                </label>
            </div>
        </section>
    </div>
</body>
</html>
