
* {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-image: url(/assets/Images/FranchiseBackground.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur();
  }


.container {
   display: flex;
   
}

.container1 {
    width: 50%;
    margin-bottom: 20%;
    margin-bottom: 85px;
}

.container2 {
    width: 35%;
    margin-top: 90px;
    margin-left: 50px;
    background-color: rgb(246, 244, 244);
    border-radius: 5%;
    height: fit-content;
    margin-left: 150px;
    margin-bottom: 230px;
}

.logo {
    margin-bottom:5 10px;
    margin-left: 15%;

}

.caption {
    font-family: serif;
    margin-left: 22%;
    margin-top: 50px;
}

.getstarted {
    margin-left: 10%;
    margin-top: 10%;
}

.getstarted h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.getstarted .label .checkbox{
    font-size: 10px;
    margin-bottom: 10px;
}

.getstarted input[type="text"],
.getstarted input[type="number"] {
    padding: 5px;
    width: 90%;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 16px;
}

.getstarted button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
    margin-left: 70px;
    width: 50%;
    margin-top: 10px;

}

.getstarted button:hover {
    background-color: #0056b3;
}
