<nav class="navbar">
  <div class="container">
    <div class="logo">
      <img src="/assets/Images/logo.png" alt="Cafe Management Logo">
    </div>
    <div class="search-bar">
      <div class="search-container">
        <button class="users"><b>USERS</b></button>
        <button class="foods"><b>FOODS</b></button>
        <button  class="orders"><b>ORDERS</b></button>
      </div>
      <div class="profile-dropdown">
        <button class="profile-button">
          <i class="fas fa-user-circle"></i>
          <b>ADMIN</b>
        </button>
        <div class="dropdown-content">
          <p><i class="fa fa-user"></i> {{ admin ? admin.adminName : 'Sign In' }}</p>
          <button (click)="logout()"><i class="fa fa-sign-out"></i> LOGOUT</button>
        </div>
      </div>
    </div>
  </div>
</nav>


<div class="user-buttons">
  <button class="bn30" (click)="toggleForm('userList')">Users List</button>
  <button class="bn30" (click)="toggleForm('addUser')">Add User</button>
  <button class="bn30" (click)="toggleForm('updateUser')">Update User</button>
  <button class="bn30" (click)="toggleForm('deleteUser')">Delete User</button>
</div>

<div class="food-buttons">
  <button class="bn31" (click)="toggleForm('foodList')">Food List</button>
  <button class="bn31" (click)="toggleForm('addFood')">Add Food</button>
  <button class="bn31" (click)="toggleForm('updateFood')">Update Food</button>
  <button class="bn31" (click)="toggleForm('deleteFood')">Delete Food</button>
</div>

<div class="order-buttons">
  <button class="bn32" (click)="toggleForm('orderlist')">Orders List</button>
  <button class="bn32" (click)="toggleForm('deleteorder')">Delete Order</button>
</div>



<div class="content" *ngIf="showUserList">
<div id="get-all-users" class="content" [class.show-form]="users">
  <h2>Users List</h2>
  <table *ngIf="users && users && users.length > 0">
    <tr>
      <th>UserId</th>
      <th>Username</th>
      <th>UserEmail</th>
      <th>UserPassword</th>
      <th>UserContact</th>
    </tr>
    <tr *ngFor="let user of users">
      <td>{{ user.userId }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.userEmail }}</td>
      <td>{{ user.userPassword }}</td>
      <td>{{ user.userContact }}</td>
    </tr>
    
  </table>
  <p *ngIf="users && (!users || users.length === 0)">No users found.</p>
</div>
</div>


<!-- Add User Form -->
<div class="content" *ngIf="showAddUser">
<div id="add-user-form" class="content" [class.show-form]="addUser">
  <h2>Add User</h2>
  <form (ngSubmit)="addUser()" #addUserForm="ngForm" novalidate>
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" [(ngModel)]="newUser.username" required>
      <div *ngIf="addUserForm.controls['username'].invalid && (addUserForm.controls['username'].dirty || addUserForm.controls['username'].touched)" class="error-message">
        Username is required.
      </div>
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" [(ngModel)]="newUser.userEmail" required>
      <div *ngIf="addUserForm.controls['email'].invalid && (addUserForm.controls['email'].dirty || addUserForm.controls['email'].touched)" class="error-message">
        Email is required.
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" [(ngModel)]="newUser.userPassword" required>
      <div *ngIf="addUserForm.controls['password'].invalid && (addUserForm.controls['password'].dirty || addUserForm.controls['password'].touched)" class="error-message">
        Password is required.
      </div>
    </div>
    <div class="form-group">
      <label for="text">Contact:</label>
      <input type="text" id="text" name="contact" [(ngModel)]="newUser.userContact" required>
      <div *ngIf="addUserForm.controls['contact'].invalid && (addUserForm.controls['contact'].dirty || addUserForm.controls['contact'].touched)" class="error-message">
        Contact is required.
      </div>
    </div>
    <button class="bn3637" type="submit" [disabled]="addUserForm.invalid">Add</button>
  </form>
</div>
</div>


<!-- Update User Form -->
<div class="content" *ngIf="showUpdateUser">
<div id="update-user-form" class="content" [class.show-form]="updateUser">
  <h2>Update User</h2>
  <form (ngSubmit)="updateUser()" #updateUserForm="ngForm" novalidate>
    <div class="form-group">
      <label for="userId">UserId:</label>
      <input type="text" id="userId" name="userId" [(ngModel)]="selectedUser.userId" required>
    </div>
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" [(ngModel)]="selectedUser.username" required>
      <div *ngIf="updateUserForm.controls['username'].invalid && (updateUserForm.controls['username'].dirty || updateUserForm.controls['username'].touched)" class="error-message">
        Username is required.
      </div>
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" [(ngModel)]="selectedUser.userEmail" required>
      <div *ngIf="updateUserForm.controls['email'].invalid && (updateUserForm.controls['email'].dirty || updateUserForm.controls['email'].touched)" class="error-message">
        Email is required.
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" [(ngModel)]="selectedUser.userPassword" required>
      <div *ngIf="updateUserForm.controls['password'].invalid && (updateUserForm.controls['password'].dirty || updateUserForm.controls['password'].touched)" class="error-message">
        Password is required.
      </div>
    </div>
    <div class="form-group">
      <label for="contact">Contact:</label>
      <input type="tel" id="contact" name="contact" [(ngModel)]="selectedUser.userContact" required>
      <div *ngIf="updateUserForm.controls['contact'].invalid && (updateUserForm.controls['contact'].dirty || updateUserForm.controls['contact'].touched)" class="error-message">
        Contact is required.
      </div>
    </div>
    <button class="bn3637" type="submit" [disabled]="updateUserForm.invalid">Update</button>
  </form>
</div>
</div>


<div class="content" *ngIf="showDeleteUser">
<div id="delete-user-form" class="content" [class.show-form]="deleteUserForm">
  <h2>Delete User</h2>
  <form (ngSubmit)="onDeleteUser()" #deleteForm="ngForm" novalidate>
    <div class="form-group">
      <label for="userId">User ID:</label>
      <input type="number" id="userId" name="userId" [(ngModel)]="deleteUserId" required>
      <div *ngIf="deleteForm.controls['userId'].invalid && (deleteForm.controls['userId'].dirty || deleteForm.controls['userId'].touched)" class="error-message">
        User ID is required.
      </div>
    </div>
    <button class="bn3637" type="submit" [disabled]="deleteForm.invalid">Delete</button>
  </form>
</div>
</div>


<div class="content" *ngIf="showFoodList">
  <div id="get-all-foods" class="content" [class.show-form]="foods">
    <h2>Food List</h2>
    <table *ngIf="foods && foods && foods.length > 0">
      <tr>
        <th>FoodId</th>
        <th>Name</th>
        <th>Image</th>
        <th>Description</th>
        <th>Price</th>
      </tr>
      <tr *ngFor="let food of foods">
        <td>{{ food.foodId }}</td>
        <td>{{ food.foodName }}</td>
        <td>{{ food.foodImage }}</td>
        <td>{{ food.foodDescription }}</td>
        <td>{{ food.foodPrice }}</td>
        
      </tr>
      
    </table>
    <p *ngIf="users && (!users || users.length === 0)">No users found.</p>
  </div>
  </div>
  

<!-- Add Food Form -->
<div class="content" *ngIf="showAddFood">
  <div id="add-food-form" class="content" [class.show-form]="showAddFood">
    <h2>Add Food</h2>
    <form (ngSubmit)="addFood()" #addFoodForm="ngForm" novalidate>
      <div class="form-group">
        <label for="foodName">Food Name:</label>
        <input type="text" id="foodName" name="foodName" [(ngModel)]="newFood.foodName" required>
      </div>
      <div class="form-group">
        <label for="description">Image:</label>
        <input type="text" id="description" name="description" [(ngModel)]="newFood.foodImage" required>
      </div>
      <div class="form-group">
        <label for="description">Description:</label>
        <input type="text" id="description" name="description" [(ngModel)]="newFood.foodDescription" required>
      </div>
      <div class="form-group">
        <label for="price">Price:</label>
        <input type="number" id="price" name="price" [(ngModel)]="newFood.foodPrice" required>
      </div>
      <button class="bn3637" type="submit">Add</button>
    </form>
  </div>
</div>

<!-- Update Food Form -->
<div class="content" *ngIf="showUpdateFood">
  <div id="update-food-form" class="content" [class.show-form]="showUpdateFood">
    <h2>Update Food</h2>
    <form (ngSubmit)="updateFood()" #updateFoodForm="ngForm" novalidate>
      <div class="form-group">
        <label for="foodId">Food ID:</label>
        <input type="number" id="foodId" name="foodId" [(ngModel)]="selectedFood.foodId" required>
      </div>
      <div class="form-group">
        <label for="foodName">Food Name:</label>
        <input type="text" id="foodName" name="foodName" [(ngModel)]="selectedFood.foodName" required>
      </div>
      <div class="form-group">
        <label for="description">Image:</label>
        <input type="text" id="description" name="description" [(ngModel)]="selectedFood.foodImage" required>
      </div>
      <div class="form-group">
        <label for="description">Description:</label>
        <input type="text" id="description" name="description" [(ngModel)]="selectedFood.foodDescription" required>
      </div>
      <div class="form-group">
        <label for="price">Price:</label>
        <input type="number" id="price" name="price" [(ngModel)]="selectedFood.foodPrice" required>
      </div>
      <button class="bn3637" type="submit">Update</button>
    </form>
  </div>
</div>

<!-- Delete Food Form -->
<div class="content" *ngIf="showDeleteFood">
  <div id="delete-user-form" class="content" [class.show-form]="deleteFoodId">
    <h2>Delete Food</h2>
    <form (ngSubmit)="onDeleteFood()" #deleteForm="ngForm" novalidate>
      <div class="form-group">
        <label for="FoodId">Food ID:</label>
        <input type="number" id="FoodId" name="FoodId" [(ngModel)]="deleteFoodId" required>
        <div *ngIf="deleteForm.controls['foodId'].invalid && (deleteForm.controls['foodId'].dirty || deleteForm.controls['foodId'].touched)" class="error-message">
          Food ID is required.
        </div>
      </div>
      <button class="bn3637" type="submit" [disabled]="deleteForm.invalid">Delete</button>
    </form>
  </div>
  </div>



  <div class="content" *ngIf="showOrderList">
    <div id="get-all-orders" class="content" [class.show-form]="orders">
      <h2>Orders List</h2>
      <table *ngIf="orders && orders.length > 0">
        <tr>
          <th>Order Id</th>
          <th>Username</th>
          <th>Food Name</th>
          <th>Order Time</th>
          <th>Quantity</th>
          <th>Total Price</th>
        </tr>
        <tr *ngFor="let order of orders">
          <td>{{ order.orderId }}</td>
          <td>{{order.user ? order.user.username : "N/A"}}</td>    
          <td>{{order.food? order.food.foodName: "N/A"}}</td>
          <td>{{ order.orderTime }}</td>
          <td>{{ order.quantity }}</td>
          <td>{{ order.totalPrice }}</td>
        </tr>
      </table>
      <p *ngIf="!orders || orders.length === 0">No orders found.</p>
    </div>
  </div>

<!-- <div class="content" *ngIf="showDeleteOrderById">
  <h2>Delete Order By ID</h2>
  <div>
    <label for="orderId">Order ID:</label>
    <input type="number" id="orderId" [(ngModel)]="deleteOderById">
    <button (click)="deleteOrder(deleteOderById)">Delete</button>
  </div>
</div> -->


<div class="content" *ngIf="showDeleteOrderById">
  <div id="delete-order-form" class="content" [class.show-form]="deleteOderById">
    <h2>Delete Order</h2>
    <form (ngSubmit)="deleteOrder(deleteOderById)" #deleteForm="ngForm" novalidate>
      <div class="form-group">
        <label for="orderId">Order ID:</label>
        <input type="number" id="orderId" name="orderId" [(ngModel)]="deleteOderById" required>
        <div *ngIf="deleteForm.controls['orderd'].invalid && (deleteForm.controls['orderId'].dirty || deleteForm.controls['orderId'].touched)" class="error-message">
          Order ID is required.
        </div>
      </div>
      <button class="bn3637" type="submit" [disabled]="deleteForm.invalid">Delete</button>
    </form>
  </div>
  </div>



