* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
}

.logo img {
  width: 150px; 
  height: auto;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.search-container button {
  margin-right: 10px; 
  margin-left: 60px;
  background:none;
  border: none;
}

.profile-dropdown {
  margin-right: 20px;
}

.profile-button {
  margin-right: 10px; 
  margin-left: 60px;
  background:none;
  border: none;
}

.dropdown-content {
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0;
  display: none;
}

.dropdown-content p,
.dropdown-content button {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  color: #333;
}

.dropdown-content button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.profile-dropdown:hover .dropdown-content {
  display: block;
}

.bn30 {
  border: 5em;
  cursor: pointer;
  outline: none;
  font-size: 16px;
  -webkit-transform: translate(0);
  transform: translate(0);
  background-image: linear-gradient(45deg, #4568dc, #b06ab3);
  padding: 0.7em 2em;
  border-radius: 65px;
  box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
  -webkit-transition: box-shadow 0.25s;
  transition: box-shadow 0.25s;
  color: white;
  margin-right: 20px; 
  margin-left: 30px;
}

.bn30 .text {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(45deg, #4568dc, #b06ab3);
}

.bn30:after {
  content: "";
  border-radius: 18px;
  position: absolute;
  margin: 4px;
  top: 0;
  left: 10;
  bottom: 0;
  right: 0;
  z-index: -1;
 
}

.bn30:hover {
  background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
  box-shadow: 0 12px 24px rgba(128, 128, 128, 0.1);
}

.bn30:hover .text {
  background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
}

.bn31 {
  border: 5em;
  cursor: pointer;
  outline: none;
  font-size: 16px;
  -webkit-transform: translate(0);
  transform: translate(0);
  background-image: linear-gradient(45deg, #4568dc, #b06ab3);
  padding: 0.7em 2em;
  border-radius: 65px;
  box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
  -webkit-transition: box-shadow 0.25s;
  transition: box-shadow 0.25s;
  color: white;
  margin-right: 20px; 
  margin-left: 30px;
  margin-top: 30px;
}

.bn31 .text {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(45deg, #4568dc, #b06ab3);
}

.bn31:after {
  content: "";
  border-radius: 18px;
  position: absolute;
  margin: 4px;
  top: 0;
  left: 10;
  bottom: 0;
  right: 0;
  z-index: -1;
 
}

.bn31:hover {
  background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
  box-shadow: 0 12px 24px rgba(128, 128, 128, 0.1);
}

.bn31:hover .text {
  background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
}


.bn32 {
  border: 5em;
  cursor: pointer;
  outline: none;
  font-size: 16px;
  -webkit-transform: translate(0);
  transform: translate(0);
  background-image: linear-gradient(45deg, #4568dc, #b06ab3);
  padding: 0.7em 2em;
  border-radius: 65px;
  box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
  -webkit-transition: box-shadow 0.25s;
  transition: box-shadow 0.25s;
  color: white;
  margin-right: 20px; 
  margin-left: 30px;
  margin-top: 30px;
}

.bn32 .text {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(45deg, #4568dc, #b06ab3);
}

.bn32:after {
  content: "";
  border-radius: 18px;
  position: absolute;
  margin: 4px;
  top: 0;
  left: 10;
  bottom: 0;
  right: 0;
  z-index: -1;
 
}

.bn32:hover {
  background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
  box-shadow: 0 12px 24px rgba(128, 128, 128, 0.1);
}

.bn32:hover .text {
  background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
}


/* User List Table */
.content table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.content table th,
.content table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.content table th {
  background-color: #f2f2f2;
}

/* Add User Form */
#add-user-form, #add-food-form {
  display: none;
}

#add-user-form.show-form , #add-food-form.show-form {
  display: block;
}

#add-user-form form , #add-food-form form {
  margin-top: 20px;
}

#add-user-form h2, #add-food-form h2{
  margin-top: 50px;
  margin-left: 100px;
}
#add-user-form .form-group , #add-food-form .form-group{
  margin-bottom: 15px;
}

#add-user-form label, #add-food-form label {
  display: block;
  margin-bottom: 5px;
  margin-left: 270px;
}

#add-user-form input[type="text"],
#add-user-form input[type="email"],
#add-user-form input[type="password"],
#add-user-form input[type="tel"] ,
#add-food-form input[type="text"],
#add-food-form input[type="number"]
{
  width: 50%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: 270px;
}


/* Update User Form */
#update-user-form , #update-food-form{
  display: none;
}

#update-user-form.show-form , #update-food-form.show-form{
  display: block;
}

#update-user-form form, #update-food-form form {
  margin-top: 20px;
}

#update-user-form h2, #update-food-form h2{
  margin-top: 50px;
  margin-left: 100px;
}

#update-user-form .form-group, #update-food-form .form-group {
  margin-bottom: 15px;
}

#update-user-form label, #update-food-form label {
  display: block;
  margin-bottom: 5px;
  margin-left: 270px;
}

#update-user-form input[type="text"],
#update-user-form input[type="email"],
#update-user-form input[type="password"],
#update-user-form input[type="tel"],
#update-food-form input[type="text"], 
#update-food-form input[type="number"]
{
  width: 50%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: 270px;
}


/* Delete User Form */
#delete-user-form, #delete-food-form , #delete-order-form {
  display: block;
}

#delete-user-form.show-form , #delete-food-form.show-form, #delete-order-form{
  display: block;
}

#delete-user-form form, #delete-food-form form, #delete-order-form  {
  margin-top: 20px;
}

#delete-user-form h2, #delete-food-form h2 , #delete-order-from h2{
  margin-top: 50px;
  margin-left: 100px;
}

#delete-user-form .form-group, #delete-food-form .form-group , #delete-order-form{
  margin-bottom: 15px;
}

#delete-user-form label, #delete-food-form label, #delete-order-form {
  display: block;
  margin-bottom: 5px;
  margin-left: 270px;
}

#delete-user-form input[type="number"], 
#delete-food-form input[type="number"],
#delete-order-form input[type="number"]  {
  width: 50%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: 270px;
}

.bn3637 {
  background-color: #4cd606;
  padding: 7px;
  width: 200px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  animation: bn53bounce 4s infinite;
  cursor: pointer;
  color: black;
  font-size: 20px;
  margin-left: 450px;
  margin-top: 30px;
  border-radius: 4%;
}

@keyframes bn53bounce {
  5%,
  50% {
    transform: scale(1);
  }

  10% {
    transform: scale(1);
  }

  15% {
    transform: scale(1);
  }

  20% {
    transform: scale(1) rotate(-5deg);
  }

  25% {
    transform: scale(1) rotate(5deg);
  }

  30% {
    transform: scale(1) rotate(-3deg);
  }

  35% {
    transform: scale(1) rotate(2deg);
  }

  40% {
    transform: scale(1) rotate(0);
  }
}