* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.containermain {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20;
  
}

.logo img {
  width: 200px;
  height: auto;
  margin-top: -30px;
  margin-right: 35px;
}

.search-bar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.search-bar .search-input {
  margin-right: 10px; 
  padding: 8px 8px 8px 8px;
  border: 1px solid #ccc;
  border-radius: 20px;
  width: 250px; 
}

.search-bar .search-button {
  margin-right: 10px; 
  background: none;
  border: none;
  cursor: pointer;
  background: none;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.search-bar .for-tenants {
  margin-right: 10px; 
  margin-left: 60px;
  background:none;
  border: none;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.search-bar .for-tenants:hover{
  color:#ff6035;
}
.search-bar .for-owners{
  margin-right: 10px;
  margin-left: 50px;
  background: none;
  border : none;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.search-bar .for-owners:hover{
  color:#ff6035;
}
.search-bar .support{
  margin-right: 10px;
  margin-left: 50px;
  background: none;
  border: none;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.search-bar .support:hover{
  color:#ff6035;
}

.search-bar .login-button {
  margin-right: 10px;
  margin-left:50px ;
  background: none;
  border: none;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.search-bar .login-button:hover{
  color:#ff6035;
}

.search-bar .register-button {
  margin-right: 10px;
  margin-left:50px ;
  background: none;
  border: none;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.search-bar .register-button:hover{
  color:#ff6035;
}

#container {
  padding: 20px; 
  border-radius: 8px; 
  text-align: center; 
}

#container h6 {
  color: #6c757d; 
  font-size: 1rem; 
  margin: 0; 
  padding-bottom: 10px; 
  font-weight: 600; 
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#container h1 {
  color: #343a40; 
  font-size: 2rem; 
  margin: 0; 
  font-weight: 700; 
  padding-top: 10px; 
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.content {
  margin: 20px; 
  display: inline-block;
}

.image img {
  width: 80%;
  height: 10%;
  border-radius: 60px; 
  margin-left: 420px;
}

.content .matter{
  max-width: 50%; 
  margin-left:-20px;
  font-size: 15px;
  margin-top: -290px;
}

.content .matter h3 {
  font-size: 44px; 
  margin-bottom: 30px; 
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-left: 70px;
}

.content .matter p {
  font-size: 17px; 
  line-height: 1.5; 
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-left: 70px;
}

.recommended .properties p{
  margin-bottom: 15px; 
  margin-top: 150px;
  margin-left: 70px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 17px;
}
.recommended .properties h3 {
  font-size: 34px; 
  font-weight: bold; 
  margin-left: 70px;
}


.container {
  width: 1100px;
  margin: 100px auto;
  display: flex;
  justify-content: space-between;
}

.container .box {
  width: calc((100% / 3) - 20px);
  background-color: white;
  position: relative;
}

.container .box:first-of-type:before {
  content: "Featured";
  background-color: #ea723d;
  color: white;
  font-size: 13px;
  padding: 4px 10px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-50%);
  z-index: 1;
}

.container .box:first-of-type:after {
  content: "";
  border-width: 12px;
  border-style: solid;
  border-color: transparent transparent transparent #ea723d;
  position: absolute;
  left: 72px;
  top: 0;
  transform: translateY(-50%);
}

.container .box .top {
  position: relative;
  background-color: red;
}

.container .box .top:before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(43, 187, 175, 0.829);
  position: absolute;
  left: 0;
  top: 0;
  transition: 0.3s;
  opacity: 0;
}

.container .box .top:hover:before {
  opacity: 1;
}

.container .box .top:after {
  content: "View Property";
  color: white;
  font-size: 12px;
  padding: 10px;
  border: 1px solid white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: 0.3s;
  opacity: 0;
}

.container .box .top:hover:after {
  opacity: 1;
}

.container .box .top img {
  width: 100%;
  margin-bottom: -4px;
}

.container .box .top span {
  position: absolute;
  right: 20px;
  bottom: 15px;
  color: white;
  font-size: 20px;
}

.container .box .top span i {
  margin-left: 5px;
}

.container .box .bottom {
  padding: 20px 15px;
  position: relative;
}

.container .box:not(:last-of-type) .bottom:before {
  content: "Hot";
  background-color: #ea723d;
  color: white;
  font-size: 11px;
  padding: 4px 7px;
  position: absolute;
  left: 20px;
  top: -40px;
  z-index: 1;
}

.container .box .bottom h3 {
  font-size: 15px;
}

.container .box .bottom > p {
  margin: 15px 0;
  font-size: 13px;
  line-height: 1.4;
  color: #777;
}

.container .box .bottom .advants {
  display: flex;
}

.container .box .bottom .advants > div {
  margin-right: 15px;
}

.container .box .bottom .advants > div > span {
  font-weight: bold;
  font-size: 12px;
}

.container .box .bottom .advants > div > div {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.container .box .bottom .advants > div > div i {
  color: #777;
  font-size: 22px;
}

.container .box .bottom .advants > div > div > span {
  font-size: 12px;
  font-weight: bold;
  margin-left: 10px;
}

.container .box .bottom .advants > div > div > span > span {
  color: #777;
  font-weight: normal;
  margin-left: 5px;
}

.container .box .bottom .price {
  margin-top: 20px;
}

.container .box .bottom .price span:first-of-type {
  display: block;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 5px;
}

.container .box .bottom .price span:last-of-type {
  color: #3eaba1;
  font-size: 22px;
}


.content-ownhouse {
  margin: 20px; 
  display: inline-block;
}

.image-ownhouse img {
  width: 90%;
  height: 20%;
  border-radius: 60px; 
  margin-left: 320px;
}

.content-ownhouse .matter-ownhouse{
  max-width: 50%; 
  margin-left:-20px;
  font-size: 15px;
  margin-top: -240px;
}

.content-ownhouse .matter-ownhouse h3 {
  font-size: 34px; 
  margin-bottom: 30px; 
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-left: 70px;
}

.content-ownhouse .matter-ownhouse p {
  font-size: 17px; 
  line-height: 1.5; 
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-left: 70px;
}

.cssbuttons-io-button {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 17px;
  padding: 0.8em 1.5em 0.8em 1.2em;
  color: white;
  background: #ad5389;
  background: linear-gradient(0deg, rgba(77,54,208,1) 0%, rgba(132,116,254,1) 100%);
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #4d36d0be;
  letter-spacing: 0.05em;
  border-radius: 20em;
  margin-left: 70px;
  margin-top: 30px;
}

.cssbuttons-io-button svg {
  margin-right: 8px;
}

.cssbuttons-io-button:hover {
  box-shadow: 0 0.5em 1.5em -0.5em #4d36d0be;
}

.cssbuttons-io-button:active {
  box-shadow: 0 0.3em 1em -0.5em #4d36d0be;
}
footer {
  background-color: #08104f; 
  color: #fff; 
  padding: 20px; 
  text-align: center; 
  position: relative;
  bottom: 0; 
  left: 0; 
  width: 100%; 
  z-index: 999; 
}
footer p {
  margin: 0; 
}
