<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NANDAS CAFE</title>
</head>
<body>
  <div class="container">
    <header>
      <div class="logo">
        <img src="/assets/Images/logo.png" alt="Cafe Management Logo">
      </div>
      <div class="search-bar">
        <div class="search-container">
          <!-- <input type="text" placeholder="Search..." class="search-input"> -->
          <!-- <button type="submit" class="search-button"><i class="fa fa-search"></i>Admin</button> -->
        </div>
        <button class="cart-icon" (click)="navigateToHome()" ><i class="fa fa-home"></i><b>Home</b></button>
        <button class="help" (click)="navigateToHelp()"><i class="fas fa-headset"></i><b>Help</b></button>
        <button class="Book" (click)="navigateToBookaTable()"><i class="fas fa-chair"></i><b>Book a Table</b></button>
        <button class="Admin" (click)="navigateToAdmin()"><i class="fas fa-user-graduate"></i><b>Admin</b></button>
        <button class="login-button" (click)="navigateToRegister()"><i class="	fa fa-user-circle"></i><b>Sign Up</b></button>
      </div>
    </header>
    <section>
      <div class="box-form">
        <div class="left">
            <div class="overlay">
                <h1><b>Craving Something..?</b></h1>
                <p>Satisfy you hunger with our delightful offerings!!</p>
            </div>
        </div>
        <div class="right">
          <form #spForm="ngForm" (ngSubmit)="loginuser()" class="login-form"  >
          <h5>Sign In</h5>
          <label for="username"></label>
          <input type="username" id="username" name="username" placeholder="Username" [(ngModel)]="user.username" required>
          <label for="userPassword"></label>
          <input type="password" id="userPassword" name="userPassword" placeholder="Password" [(ngModel)]="user.userPassword" required>
      
          <button type="submit" (click)="loginuser()"> <b>Login</b></button>
          <p>Don't have an account? <a (click)="navigateToRegister()">Sign Up</a></p>
          </form>
        </div>
      </div>
    </section>
  </div>
</body>
</html>