html,
body {
  height: 100%;
}

.login-box {
  position: absolute;
  top: 70%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.login-box h2 {
  margin: 0;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.login-box button {
  width: 100%;
  padding: 10px 0;
  margin-top: 10px;
  font-size: 16px;
  background-color: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease;
}


.login-box form a {
  display: block;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  margin-top: 20px;
}
.login-box .user-box p {
  color: #fff;
  font-size: 14px;
  text-align: center;
  margin-top: 20px;
}
.login-box .user-box select {
  width: 100%;
  padding: 10px 0;
  font-size: 18px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
  appearance: none; 
  -webkit-appearance: none; 
  -moz-appearance: none; 
}

.login-box .user-box select::after {
  content: "\25BC"; 
  position: absolute;
  top: calc(50% - 0.5em); 
  right: 10px;
  color: #fff;
  pointer-events: none;
}


.login-box .user-box select option {
  background-color: rgba(0, 0, 0, 0.5); 
}

.login-box .user-box input:not(:placeholder-shown) ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}
