body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.finalimage img {
  position: relative;
  margin-left: 70px;
  height: 500px;
  /* margin-top: 150px; */
  

}



form {
  width: 400px; /* Adjust the width as needed */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 15px;
  margin-left: 550px;
  margin-top: -400px;
}

form label {
  display: block;
  margin-bottom: 10px;
}

form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

form button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

form button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
