<div class="user-details-container" *ngIf="user">
  <h2>User Details</h2>
  <p>User Id: {{user.userId}}</p>
  <p>Username: {{ user.username }}</p>
  <p>Password: {{ user.userPassword }}</p>
  <p>Contact: {{ user.userContact }}</p>
  <p>Email: {{ user.userEmail }}</p>
</div>

<div class="orders-container">
  <h2>Your Orders</h2>
  <table class="order-table">
    <thead>
      <tr>
        <th>Order ID</th>
        <th>Food Name</th>
        <th>Quantity</th>
        <th>Total Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders" class="order-item">
        <td>{{ order.orderId }}</td>
        <td>{{ order.food.foodName }}</td>
        <td>{{ order.quantity }}</td>
        <td>{{ order.totalPrice }}</td>
      </tr>
    </tbody>
  </table>
</div>
