<div *ngIf="userProperties && userProperties.length > 0">
    <h2>User Properties</h2>
    <div class="property-list">
      <div *ngFor="let property of userProperties" class="property-card">
        <img [src]="property.houseImage" alt="Property Image">
        <p>City: {{ property.city }}</p>
        <p>Area: {{ property.area }}</p>
        <p>Bedrooms: {{ property.numberOfBedrooms }}</p>
        <p>Bathrooms: {{ property.numberOfBathrooms }}</p>
        <p>Landmarks: {{ property.landmarks }}</p>
      </div>
    </div>
  </div>

