
<div class="cart-container">
  <h2>Your Cart</h2>
  
  <div *ngIf="cartItems.length === 0">
    <p>Your cart is empty</p>
  </div>

  <div *ngFor="let item of cartItems" class="cart-item">
    <div class="item-info">
      <span>Item: {{ item.foodName }}</span>
      <span> Quantity: {{ item.quantity }} </span>
      <span>Price: {{item.foodPrice}}</span>
    </div>
    <div class="item-controls">
      <button (click)="decreaseQuantity(item)">-</button>
      <span>{{ item.quantity }}</span>
      <button (click)="increaseQuantity(item)">+</button>
      <button (click)="removeItem(item)">Remove</button>
    </div>
  </div>

  <div class="total-amount">
    <p>Total Amount: {{ totalAmount | currency:'₹':'symbol':'1.2-2' }}</p>
  </div>

  <div class="actions">
    <button (click)="clearCart()">Clear Cart</button>
    <button (click)="placeOrder()">Place Order</button>
  </div>
</div>






