<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Starbucks Coffee Website Landing Page</title>
</head>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arial">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <div class="container">
    <header>
      <div class="logo">
        <img src="/assets/Images/logo.png" alt="Cafe Management Logo">
      </div>
      <div class="search-bar">
        <div class="search-container">
          <input type="text" placeholder="Search..." class="search-input">
          <button type="submit" class="search-button"><i class="fa fa-search"></i></button>
        </div>
        <button class="cart-icon" (click)="navigateToHome()" ><i class="fa fa-home"></i><b>Home</b></button>
        <button class="help" (click)="navigateToHelp()"><i class="fas fa-headset"></i><b>Help</b></button>
        <button class="Book" (click)="navigateToBookaTable()"><i class="fas fa-chair"></i><b>Book a Table</b></button>
        <button class="login-button" (click)="navigateToLogin()"><i class="	fa fa-user-circle-o"></i><b>Sign In</b></button>
      </div>
    </header>
  </div>
  <section class="grid">
    <div class="content">
        <div class="content-left">
            <div class="info">
                <h2><b>Order Your Best </b><br> <b>Food anytime</b></h2>
                <p>Hey, Our delicious food is waiting for you,<br> We are always near to you with fresh items of food :)</p>
            </div>
            <button  class="explorefood-button"  (click)="navigateToMenu()"><b>Explore Menu</b></button>
        </div>
        <div class="content-right">
            <img src="/assets/Images/pizzamain.png" width="400" alt="" class="image">
        </div>
    </div>
</section>
<section class="cafe-specials">
  <h3><b>OUR CAFE SPECIALS</b></h3>
  <div class="container2">
    <div class="card2">
      <img src="/assets/Images/c1.png" alt="Cappuccino Image" class="image2" width="100px">
      <div class="data2">
        <h1 class="title2"><b>Cappuccino</b></h1>
        <p class="description2">Rich espresso combined with frothy steamed milk, crowned with a delicate layer of velvety foam.</p>
        <a class="button2" (click)="navigateToMenu()">Order Now</a>
      </div>
    </div>
    <div class="card3">
      <img src="/assets/Images/card3.png" alt="Special Rolls Image" class="image3" width="100px">
      <div class="data3">
        <h1 class="title3"><b>Cakes</b></h1>
        <p class="description3"> Moist layers of decadent chocolate cake filled with velvety ganache & cream. </p>
        <a class="button3" (click)="navigateToMenu()">Order Now</a>
      </div>
    </div>
    <div class="card4">
      <img src="/assets/Images/card4.png" alt="Burger Image" class="image4" width="100px">
      <div class="data4">
        <h1 class="title4"><b>Burger</b></h1>
        <p class="description4">Toasted sesame seed buns, layered with crisp lettuce, ripe tomatoes & melted cheese.</p>
        <a class="button4" (click)="navigateToMenu()">Order Now</a>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="section" id="app">
    <div class="container flex">
      <div class="visual">
        <img src="/assets/Images/Download App.jpg" alt="" />
      </div>
  
      <div class="text">
        <h2 class="secondary">Download NANDAS CAFE App</h2>
        <p>
          Experience ultimate convenience with the NANDAS CAFE App. Explore our diverse menu, place orders seamlessly, and enjoy quick delivery to your doorstep. Elevate your dining experience today!
        </p>
  
        <div class="download flex">
          <div class="app-store">
            <span name="logo-google-playstore"></span>
            <a href="/" tabIndex="0"><img class="bn45" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/78/Google_Play_Store_badge_EN.svg/2560px-Google_Play_Store_badge_EN.svg.png" alt="bn45"/></a>
          </div>
  
          <div class="app-store">
            <span name="logo-apple"></span>
            <a href="/" tabIndex="0"><img class="bn46" src="https://developer.apple.com/assets/elements/badges/download-on-the-app-store.svg"alt="bn45"/></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <footer class="footer">
      <div class="container">
          <div class="footer-row">
              <div class="footer-col">
                  <h4><b>Company</b></h4>
                  <ul>
                      <li><a (click)="navigateToAbout()">About</a></li>
                      <li><a (click)="navigateToAbout()">Team</a></li>
                     
                  </ul>
              </div>
              <div class="footer-col">
                  <h4><b>GetHelp</b></h4>
                  <ul>
                      <li><a (click)="navigateToHelp()">FAQ</a></li>
                      <li><a (click)="navigateToHelp()">Help & Support</a></li>
                  </ul>
              </div>
              <div class="footer-col">
                  <h4><b>Legal</b></h4>
                  <ul>
                      <li><a (click)="navigateToTerms()">Terms & Conditions</a></li>
                      <li><a (click)="navigateToFranchise()">Franchise</a></li>
                  </ul>
              </div>
              <div class="footer-col">
                  <h4><b>Follow Us</b></h4>
                  <div class="social-links">
                     
                      <a href="https://twitter.com/Yogananda222" class="fa fa-twitter"></a>
                      <a href="https://www.instagram.com/mr.nanda_01" class="fa fa-instagram"></a>
                      <a href="https://www.linkedin.com/in/puchakayala-yogananda-naidu-8a8991216" class="fa fa-linkedin"></a>
                  </div>
              </div>
          </div>
      </div>
  </footer>
</section>
</body>
</html>
