<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arial">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Starbucks Coffee Website Landing Page</title>
</head>
<body>
  <section class="adminlogin">
    <div>
      <img src="/assets/Images/logo.png" alt="" class="image">
      <h2> Hello  Admin </h2>
      <form (ngSubmit)="loginAdmin()">
        <label for="adminName"></label>
        <input type="text" id="adminName" name="adminName" [(ngModel)]="admin.adminName" required placeholder="adminName">
        <input type="password" id="adminPassword" name="adminPassword" [(ngModel)]="admin.adminPassword" required placeholder="adminPassword">
        <button type="submit">Submit</button>
      </form>
    </div>
  </section>
</body>
</html>
